{% extends "base.html" %}
{% block content_block %}

    <div class="container">
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-10">

                <div class="row">
                    <div class="col-lg-11 col-md-12">
                        <div class="card mb-1 border-0" style="max-width: 60rem;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ url_for('static', filename='images/pages/payment.svg') }}"
                                         class="img-fluid mx-auto d-block rounded-start"
                                         style="width: 12rem; height: 14rem;">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Łatwa i dogodna płatność</h5>
                                        <p class="card-text">Bacon ipsum dolor amet hamburger pastrami corned beef rump
                                            capicola shankle pork belly prosciutto strip steak boudin drumstick jerky.
                                            Picanha short ribs swine pig cow, burgdoggen jerky shankle short loin tail
                                            boudin buffalo.</p>
                                        <p class="card-text">Cupim alcatra tongue kevin t-bone, pork tenderloin
                                            turducken short loin. Corned beef meatball pork belly venison. Landjaeger
                                            frankfurter jerky ground round pork chop bacon kielbasa pastrami pancetta
                                            jowl pig beef hamburger short ribs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-0"></div>
                </div>

                <div class="row">
                    <div class="col-lg-1 col-md-0"></div>
                    <div class="col-lg-11 col-md-12">
                        <div class="card mb-1 border-0" style="max-width: 60rem;">
                            <div class="row g-0">

                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Prognowozanie kursu waluty</h5>
                                        <p class="card-text">Bacon ipsum dolor amet hamburger pastrami corned beef rump
                                            capicola shankle pork belly prosciutto strip steak boudin drumstick jerky.
                                            Picanha short ribs swine pig cow, burgdoggen jerky shankle short loin tail
                                            boudin buffalo.</p>
                                        <p class="card-text">Cupim alcatra tongue kevin t-bone, pork tenderloin
                                            turducken short loin. Corned beef meatball pork belly venison. Landjaeger
                                            frankfurter jerky ground round pork chop bacon kielbasa pastrami pancetta
                                            jowl pig beef hamburger short ribs.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <img src="{{ url_for('static', filename='images/pages/data_trends.svg') }}"
                                         class="img-fluid mx-auto d-block rounded-start"
                                         style="width: 12rem; height: 14rem;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-11 col-md-12">
                        <div class="card mb-1 border-0" style="max-width: 60rem;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ url_for('static', filename='images/pages/respond.svg') }}"
                                         class="img-fluid mx-auto d-block rounded-start"
                                         style="width: 12rem; height: 14rem;">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Szybki kontakt z naszymi specjalistami</h5>
                                        <p class="card-text">Bacon ipsum dolor amet hamburger pastrami corned beef rump
                                            capicola shankle pork belly prosciutto strip steak boudin drumstick jerky.
                                            Picanha short ribs swine pig cow, burgdoggen jerky shankle short loin tail
                                            boudin buffalo.</p>
                                        <p class="card-text">Cupim alcatra tongue kevin t-bone, pork tenderloin
                                            turducken short loin. Corned beef meatball pork belly venison. Landjaeger
                                            frankfurter jerky ground round pork chop bacon kielbasa pastrami pancetta
                                            jowl pig beef hamburger short ribs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-0"></div>
                </div>

            </div>
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}